# Ignore virtual environment
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore Excel reports
*.xlsx

# Ignore Service Account Credentials (Important for Security!)
*.json

# Ignore temporary/lock files
.~lock.*
.lock.*
